$font: Helvetica, sans-serif;
$font-color: #1C2833;
$background-color: #4B6A88;

body {
    color: $font-color;
    font: 100% $font;

  section {
    width: 80%;

    a {
      color: inherit;
      display: block;
      font: inherit;
      text-decoration: none;

      &:nth-of-type(2) {
        background-color: rgba(75, 106, 136, 0.1);
      }

      article {

        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        padding-bottom: 35px;
        position: relative;

        &.pipeline-row {
          span {
            padding-right: 15px;
          }

          span.description {
            background-color: white;
            color: #000;
            color: rgba(0, 0, 0, 0.5);
            cursor: pointer;
            padding: 0 0 0 0;
            position: absolute;
            right: 0%;
            font-size: 10px;
            top: 100%;
            transform: translateX(-100%);
            transform: translateY(-100%);
            width: 350px;
            visibility: hidden;
            z-index: 1;
          }

          &:hover {
            cursor: pointer;
            .description {
              visibility: visible;
            }
          }
        }
      }
    }
  }
}
