body {
  color: #1c2833;
  font: 100% Helvetica, sans-serif;
}
body section {
  width: 80%;
}
body section article {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  padding-bottom: 35px;
  /* Tooltip container */
}
body section article.pipeline-row {
  position: relative;
}
body section article.pipeline-row span {
  padding-right: 15px;
}
body section article.pipeline-row span.description {
  background-color: white;
  border: 1px solid black;
  color: #000;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  visibility: hidden;
  z-index: 1;
}
body section article.pipeline-row:hover {
  cursor: pointer;
}
body section article.pipeline-row:hover .description {
  visibility: visible;
}
body section article.pipeline-row:nth-of-type(2) {
  background-color: rgba(75, 106, 136, 0.1);
}
