<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <section>
        {{#pipelines}}
            <article class="pipeline-row">
                <span>{{#uid}} {{.}} {{/uid}}</span>
                <span>{{#status}} {{.}} {{/status}}</span>
                <span>{{#assiociatedFilesCount}} {{.}} {{/assiociatedFilesCount}}</span>
                <span class="description">{{#shortDescription}} {{.}} {{/shortDescription}}</span>
                <span>{{#url}} {{.}} {{/url}}</span>
            </article>
        {{/pipelines}}
    </section>

</body>

<link rel="stylesheet" property="stylesheet" href="css/home.css" />

</html>