<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pipeline Details</title>
</head>

<body>
    {{#uploadRedirect}}
        <div class="flashMessage">{{.}}</div>
    {{/uploadRedirect}}


    <article>
        <h1>Pipeline Details</h1>
        {{#pipelineDetails}}
            <h2>Overview</h2>
            {{#details}}
            <section class="pipeline-row">
                <p>
                    <span>name:</span>
                    {{#uid}} {{.}} {{/uid}}
                </p>
                <p>
                    <span>status:</span>
                    {{#status}} {{.}} {{/status}}
                </p>
                <p class="description">
                    <span>description:</span>
                    {{#shortDescription}} {{.}} {{/shortDescription}}
                </p>
            </section>
            {{/details}}

            <h2>Notes</h2>
            {{#notes}}
                <section>
                    <div contenteditable="true" id="userNotes" {{#uid}}data-pipelineid="{{.}}"{{/uid}}>
                    No notes available for this pipeline yet. Add some content here then save it.
                    </div>
                    <button id="userNotesSave">Save changes</button>
                </section>
            {{/notes}}

            {{^notes}}
                <section>
                    <div contenteditable="true" id="userNotes" {{#uid}}data-pipelineid="{{.}}"{{/uid}}>
                        No notes available for this pipeline yet. Add some content here then save it.
                    </div>
                    <button id="userNotesSave">Save changes</button>
                </section>
            {{/notes}}

            <h2>Files</h2>
            {{#filePaths}}
            <section class="files">
                <a href="/file/{{uid}}/{{.}}">{{.}}</a>
            </section>
            {{/filePaths}}

            <h2>Files Upload</h2>
            <section>
                <form method="POST" enctype="multipart/form-data" action="/file/manual/{{uid}}">
                    <span>
                        <input id="file-upload" type="file" name="file"/>
                    </span>
                    <span>
                        <input type="submit" value="Upload" />
                    </span>
                </form>
            </section>



        {{/pipelineDetails}}

        {{^pipelineDetails}}
            <p>Pipeline not found, return to <a href="/">home page</a></p>
        {{/pipelineDetails}}

    </article>


</body>

<footer>
    <script type="text/javascript" src="../webjars/jquery/2.2.4/jquery.min.js"></script>
    <script src="../../js/pipeline.js"></script>

    <link rel="stylesheet" property="stylesheet" href="../../css/pipeline.css" />

</footer>

</html>