<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pipeline Details</title>
</head>

<body>
    <h1>Pipeline Details</h1>
    <article>
    {{#pipelineDetails}}
        <h2>Overview</h2>
        {{#pipelineOverview}}
        <section class="pipeline-row">
            <span>{{#uid}} {{.}} {{/uid}}</span>
            <span>{{#status}} {{.}} {{/status}}</span>
            <span>{{#assiociatedFilesCount}} {{.}} {{/assiociatedFilesCount}}</span>
            <span class="description">{{#shortDescription}} {{.}} {{/shortDescription}}</span>
            <span>{{#url}} {{.}} {{/url}}</span>
        </section>
        {{/pipelineOverview}}

        {{#notes}}
        <h2>Notes</h2>
        <section>
            <div contenteditable="true" id="userNotes">
                {{.}}
            </div>
        </section>

        {{/notes}}

        {{#filePaths}}
        <h2>Files</h2>
        <section>
            files tba
        </section>
        {{/filePaths}}
    {{/pipelineDetails}}

    {{^pipelineDetails}}
        <p>Pipeline not found, return to <a href="/">home page</a></p>
    {{/pipelineDetails}}

    </article>

</body>
</html>